{% extends 'base.html' %}
{% block content %}
<div class="section-title" style="padding-top: 20px;">
        <h1>Your vote has been recorded. Thank You for voting.</h1>
    </div>
<div class="bcontainer">
    <div class="base">
		<div class="top-front"></div>
		<div class="shadow"></div>
		<div class="text">vote</div>
	</div>
	<div class="top-top">
	</div>
	<div class="top-top2">
		<div class="slot3"></div>
	</div>
	<div class="top-top3">
		<div class="slot2"></div>
	</div>
	<div class="ballot">
    </div>
</div>
{% endblock %}